<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <%= favicon_tag 'images/favicon-32x32.png', size: '32x32' %>
    <%= favicon_tag 'images/favicon-96x96.png', size: '96x96' %>
    <%= favicon_tag 'images/favicon-16x16.png', size: '16x16' %>

    <title><%= current_page.data.title || "Kacper Golinski | Fullstack web development" %></title>
    <meta name="description" content="Kacper Golinski is a freelance full-stack web developer with interest in clean and minimal UI & UX." />

    <meta property="og:title" content="Kacper Golinski | Fullstack web development">
		<meta property="og:description" content="Kacper Golinski is a freelance full-stack web developer with interest in clean and minimal UI & UX.">
		<meta property="og:image" content="https://casperg.com/images/kg-thumb.png">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@caspg_">
		<meta name="twitter:creator" content="@caspg_">
		<meta name="twitter:url" content="https://casperg.com">
		<meta name="twitter:title" content="Kacper Golinski | Fullstack web development">
		<meta name="twitter:description" content="Kacper Golinski is a freelance full-stack web developer with interest in clean and minimal UI & UX.">
		<meta name="twitter:image" content="https://casperg.com/images/kg-thumb.png">

    <%= stylesheet_link_tag :site %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">

    <% if build? %>
      <%= partial "partials/shared/tracking" %>
    <% end %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <%= javascript_include_tag :all %>
  </body>
</html>
